@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;500&display=swap');
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* GENERAL */
*,
*::before,
*::after{
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html{
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
img{
  display: block;
  height: auto;
}
body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Public Sans","Arial", sans-serif;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container{
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.site-header {
  position: fixed;
  top:0;
  left: 0;
  z-index: 22;
  width: 100%;
  background-color: #fff;
}
.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.site-header__item {
  padding: 15px;
  border-bottom: 3px solid transparent;
}
.site-header__item:hover{
  border-bottom: 3px solid #30C88F;
}
.site-header__link{
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: #9597A5;
  text-decoration: none;
  padding: 17px 0;
}
.site-header__item:hover .site-header__link{
  color: #2D314D
}
.btn {
  padding: 8px 34px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  background: -o-linear-gradient(315deg, #33D35E 0%, #2AB6D9 99.58%);
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
}
.btn:hover{
  background-color: #fff;
  opacity: 0.4;
}
.hero__img{
  width: 976px;
  height: 100%;
  position: relative;
}
.hero__img::before{ 
  position: absolute;
  top: -128px;
  left: 490px;
  content: "";
  width: 1365px;
  height: 1057px;
  background-image: url(../images/phone.svg);
  background-position: center center;
  background-size: 1579px 1149px;
  background-repeat: no-repeat;
}
.hero__info-wrapper {
  width: 447px;
  padding-top: 250px;
  padding-bottom: 170px;
}
.hero__title h1{
  margin: 0;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2D314D;
}
.hero__title p{
  padding: 24px 0 44px 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}
.choose {
  background: #F4F5F7;
}
.choose__title {
  padding-top: 96px;
  width: 635px;
}
.choose__title h2{
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
}
.choose__title p{
  padding-top: 16px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}
.choose__list {
  padding-top: 72px;
  padding-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.choose__item::before{
  content: "";
  width: 72px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/card.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.choose__item:nth-child(2):before{
  background-image: url("../images/dollor.svg");
}
.choose__item:nth-child(3):before{
  background-image: url("../images/setings.svg");
}
.choose__item:nth-child(4):before{
  background-image: url("../images/plata.svg");
}
.choose__item {
  width: 255px;
}
.choose__item h3{
  padding-top: 40px;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: #2D314D;
}
.choose__item p{
  padding-top: 26px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #9597A5
}
.articles {
  background:#F2F2F2;
}
.articles__title h2{
  padding-top: 80px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
}
.articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.articles__item {
  list-style: none;
  padding: 40px 15px;
}
.articles__item:nth-child(1){
  padding-left: 0;
}
.articles__item:nth-child(4){
  padding-right: 0;
}
.articles__item::before{
  content: "";
  width: 255px;
  height: 200px;
  display: inline-block;
  background-image: url("../images/moniy.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.articles__item:nth-child(2):before{
  background-image: url("../images/food.jpg");
}
.articles__item:nth-child(3):before{
  background-image: url("../images/colud.jpg");
}
.articles__item:nth-child(4):before{
  background-image: url("../images/color.jpg");
}
.articles__item span{
  padding: 25px 0 8px 24px;
  display: inline-block;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: #9597A5;
}
.articles__item h3{
  padding: 0 0 8px 24px;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: #2D314D;
}
.articles__item h3:hover{
  color: #30C88F;
}
.articles__item p{
  padding: 0 24px 24px 24px;
  font-weight: 100;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: #9597A5;
}
.site-footer {
background: #2D314D;
}
.site-footer__list {
  padding-top: 49px;
  padding-bottom: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-footer__item {
  list-style: none;
}
.site-footer__logo {
  display: inline-block;
  padding-bottom: 55px;
}
.social__link {
  text-decoration: none;
  padding: 0 7px;
  fill: #fff;
}
.social__link:hover{
  fill: #30C88F;
}
.site-footer__link {
  padding:8px;
  margin: 0 60px 0 126px;
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
}
.site-footer__link:hover{
  color: #30C88F;
}
.site-footer__btn-blok{
  margin-left: 115px;
}
.site-footer__btn {
  margin-left: 48px;
}
.site-footer__text {
  padding-top: 32px;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
  opacity: 0.5
}